<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  みんなの旅行情報アプリ</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">みんなの旅行情報</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><a href="itiran.html">都道府県一覧</a></li>
          <li class="nav-lists__list"><a href="seisaku.html">制作工程</a></li>
        </ul>
      </div>
    </header>

    <!-- トップページのメイン -->
    <div class="map">
      <div class="map-city">
      <img src="image/oosaka.jpg" alt="Map Image">
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <div class="copyright"> ~ Everyone's travel information app 2024 ~ </div>
    </footer>
  </body>
</html>
