<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  みんなの旅行情報アプリ</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">みんなの旅行情報</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><a href="itiran.html">都道府県一覧</a></li>
          <li class="nav-lists__list"><a href="seisaku.html">制作工程</a></li>
        </ul>
      </div>
    </header>

    <!-- トップページのメイン -->
    <div class="map">
      <img src="image/map.PNG" alt="Map Image">
      <div class="text_hokkaido"><a href="hokkaido.html">北海道</a></div>
      <div class="text_tokyo"><a href="tokyo.html">東京</a></div>
      <div class="text_totigi"><a href="totigi.html">栃木</a></div>
      <div class="text_kyoto"><a href="kyoto.html">京都</a></div>
      <div class="text_oosaka"><a href="oosaka.html">大阪</a></div>
      <div class="text_fukuyama"><a href="fukuyama.html">福山</a></div>
      <div class="text_hirosima"><a href="hirosima.html">広島</a></div>
      <div class="text_fukuoka"><a href="fukuoka.html">福岡</a></div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <div class="copyright"> ~ Everyone's travel information app 2024 ~ </div>
    </footer>
  </body>
</html>

