<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>みんなの旅行情報アプリ</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <!-- ヘッダー -->
    <!-- トップページのメイン -->
      <div class="map-city-e">
        <img src="/assets/exback.jpg" alt="Map Image">
      </div>
      <div class="text_word">  ～  操作説明ページ  ～  </div>
      <div class="text_page">
          <a href="test.html">投稿テストページへ</a>
      </div>
      <div class="tutoriala">
        <img src="/assets/tutorial/newregistant.gif" alt="Tutorial Image">
        <div class="tutoriala_text">新規登録手順です</div>
      </div>
      <div class="tutorialb">
        <img src="/assets/tutorial/submissionprocedure.gif" alt="Tutorial Image">
        <div class="tutorialab_text">投稿手順です</div>
      </div>
      <div class="tutorialc">
        <img src="/assets/tutorial/purposeoflistpage.gif" alt="Tutorial Image">
        <div class="tutorialac_text">都道府県一覧から各ページに遷移できます</div>
      </div>
      <div class="tutoriald">
        <img src="/assets/tutorial/editpost.gif" alt="Tutorial Image">
        <div class="tutorialad_text">自分の投稿を編集できます</div>
      </div>
      <div class="tutoriale">
        <img src="/assets/tutorial/viewpost.gif" alt="Tutorial Image">
        <div class="tutorialae_text">誰かの投稿を見る事ができます</div>
      </div>
    <!-- フッター -->
    <script>
      // HTMLのクラス属性にpage-specific-stylesを追加する
      document.documentElement.classList.add("page-specific-styles");
    </script>
  </body>
</html>

