<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  みんなの旅行情報アプリ</title>
    <link rel="stylesheet" href="assets/reset.css">
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>

    <!-- トップページのメイン -->
    <div class="map">
      <div class="map-city">
      <img src="/assets/fukuoka.jpg" alt="Map Image">
      </div>
    </div>


  </body>
</html>
