<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  みんなの旅行情報アプリ</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ヘッダー -->
    <!-- トップページのメイン -->
    <div class="map-itiran">
      <div class="text"><a href="hokkaido.html">北海道</a></div>
      <div class="text"><a href="tokyo.html">東京</a></div>
      <div class="text"><a href="totigi.html">栃木</a></div>
      <div class="text"><a href="kyoto.html">京都</a></div>
      <div class="text"><a href="oosaka.html">大阪</a></div>
      <div class="text"><a href="fukuyama.html">福山</a></div>
      <div class="text"><a href="hirosima.html">広島</a></div>
      <div class="text"><a href="fukuoka.html">福岡</a></div>
    </div>
    <!-- フッター -->
  </body>
</html>
