
/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 10vh;
  background-color: #DBDBDB;
  margin-left: 0;
  margin-right: 0;
}



.navbar{
  padding: 0 1% 0 0;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo {
  font-size: 2.5vw;
  text-decoration: underline;
  padding-left: 2vw; 
  font-weight: bold; /* 太字にする */
}

.nav-lists {
  font-size: 2vw;
  display: flex;
  list-style: none;
}

.nav-lists__list {
  margin-left: 2vw; /* 余白を固定値に変更 */
  font-size:  1.5vw;
  font-weight: 600;
  line-height: 100px;  
}

.grid-6 {
  display: flex;
  align-items: center;
}

.post {
  margin-left: 2vw; /* ボタン間の余白を調整 */
}

/******************************************************** 
　トップページ のメイン
********************************************************/
.map {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: auto; 
}

.map-overlay {
  position: absolute;
  top: 50%; /* 画像の中央にオーバーレイを配置 */
  left: 50%; /* 画像の中央にオーバーレイを配置 */
  transform: translate(-70%, -50%); /* オーバーレイを中央に配置 */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.map-overlay h1 {
  margin-bottom: 20px;
}

.map-itiran {
  position: relative;
  width: 100%; 
  height: auto; 
}

.map-city {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: auto; 
  opacity: 0.5; 
}

.map-city-e {
  position: relative;
  display: inline-block;
  width: 80%; 
  height: 100000wh; 
  opacity: 0; /* 完全に透明にする 保留中、追加要素*/
}


.map img {
  width: 80vw;
  height: 80vh;
  max-height: 100%; 
}

.text {
  color: #ffffff;
  font-size: 2vw;
}

.text_hokkaido {
  position: absolute;
  top: 20%;  
  left: 67%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_tokyo {
  position: absolute;
  top: 63%;  
  left: 63%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_totigi {
  position: absolute;
  top: 55%;  
  left: 65%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_kyoto {
  position: absolute;
  top: 53%;  
  left: 45%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_oosaka {
  position: absolute;
  top: 58%;  
  left: 40%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_fukuyama {
  position: absolute;
  top: 58%; 
  left: 30%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_hirosima {
  position: absolute;
  top: 58%; 
  left: 25%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_fukuoka {
  position: absolute;
  top: 72%;  
  left: 12%; 
  color: #ffffff;
  font-size: 2vw;
}


.text_test {
  position: absolute;
  top: 85%;  
  left: 60%; 
  color: #ffffff;
  background-color: rgb(149, 146, 146);
  font-size: 2.5vw;
}


.text_page {
  position: absolute;
  top: 25%;  
  left: 20%; 
  color: #ffffff;
  background-color: rgb(240, 237, 237);
  font-size: 3vw;
}

.text_word {
  position: absolute;
  top: 13%;  
  left: 20%; 
  color: #111111;
  background-color: rgb(240, 237, 237);
  font-size: 3vw;
}

.tutoriala {
  position: absolute;
  top: 40%;  
  left: 5%; 
  color: #111111;
  font-size: 2.5vw;
}

.tutoriala_text {
  background-color: rgb(240, 237, 237);
}

.tutoriala img {
  width: 40vw; /* 最大幅を100%に設定 */
  height: 52vh; /* 高さを自動に設定 */
}

.tutorialb {
  position: absolute;
  top: 110%;  
  left: 5%; 
  color: #111111;
  font-size: 2.5vw;
}

.tutorialab_text {
  background-color: rgb(240, 237, 237);
}

.tutorialb img {
  width: 40vw; /* 最大幅を100%に設定 */
  height: 52vh; /* 高さを自動に設定 */
}

.tutorialc {
  position: absolute;
  top: 180%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialac_text {
  background-color: rgb(240, 237, 237);
}

.tutorialc img {
  width: 40vw; /* 最大幅を100%に設定 */
  height: 52vh; /* 高さを自動に設定 */
}

.tutoriald {
  position: absolute;
  top: 250%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialad_text {
  background-color: rgb(240, 237, 237);
}

.tutoriald img {
  width: 40vw; /* 最大幅を100%に設定 */
  height: 52vh; /* 高さを自動に設定 */
}

.tutoriale {
  position: absolute;
  top: 320%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialae_text {
  background-color: rgb(240, 237, 237);
}

.tutoriale img {
  width: 40vw; /* 最大幅を100%に設定 */
  height: 52vh; /* 高さを自動に設定 */
}

.tutorialf {
  position: absolute;
  top: 385%;  
  left: 5%; 
  color: #111111;
  font-size: 1.5vw;
}

.tutorialaf_text {
  background-color: rgb(240, 237, 237);
}

/******************************************************** 
　フッター
********************************************************/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 5vh;

}


.copyright {
  font-size: 2vw;
  color: #444343;
}

/* 特定のページ専用のスタイルシート　操作説明ページのみフッターを無効化した */
.page-specific-styles .footer {
  display: none;
}


/******************************************************** 
　投稿
********************************************************/

.post-form {
  display: flex;
  flex-wrap: wrap; /* 要素が折り返されるようにする */
  width: 50vw; /* 投稿フォームの幅を固定 */
  margin: 0 auto; /* 水平方向に中央に配置 */
  height: 45vh; /* フォームの高さを設定 */
  overflow-y: auto; /* コンテンツが高さを超えた場合にスクロールバーを表示 */
  max-height: 80%;
}

.post-form .title {
  font-size: 30px; /* 各投稿の間隔を調整 */
}

.post-form .tweet {
  margin-bottom: 30px; /* 各投稿の間隔を調整 */
}

.post-form .submit-button {
  position: absolute; /* 投稿ボタンの位置を絶対位置に設定 */
  bottom: 30px; /* 下側からの位置を調整 */
}

div.tweet .post-image {  /* 投稿した画像のサイズ */
  width: 40vw; 
  height: auto; 
}

.tweets-container {
  display: flex;
  flex-direction: column-reverse; /* フレックスボックスを逆に配置 */
  align-items: center; /* 中央揃え */
}

.tweet {
  margin-bottom: 20px; /* タイトルと次の投稿の間の間隔を調整 */
}

.tweet h3 {
  margin-top: 10px; /* タイトルと画像の間の間隔を調整 */
}

/******************************************************** 
　投稿画像のサイズ
********************************************************/
.post-image {
  max-width: 100%; /* 画像の幅を100%に設定 */
  height: auto; /* 幅に合わせて自動的に高さを調整 */
}

.form-item {
  width: calc(33.333% - 20px); /* 幅を計算して設定し、20px は間隔を考慮した余白 */
  margin-bottom: 10px; /* 各項目の下に余白を追加 */
  text-align: left; /* 左寄せに設定 */
}

.form-item label {
  margin: 0; /* ラベルのデフォルトのマージンを除去 */
}

.posted-image-container {
  opacity: 1; /* 不透明に設定 */
}

.submit-button, .delete-button {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.form-container {
  display: inline-block; /* フォームを横並びに */
  text-align: left; /* フォーム内の要素を左寄せに */
}

/******************************************************** 
　SHOWページのデザイン
********************************************************/
.show-all {
  flex-wrap: wrap; /* 要素が折り返されるようにする */
  max-height: 80%;
  margin: 0 auto; /* 水平方向に中央に配置 */
  transform: translateX(10%); /* 中央に移動 */
}

.show-title {
  font-size: 5vh; /* 各投稿の間隔を調整 */
  font-weight: bold; /* 太字にする */
}

.show-image {
  width: 30vw; 
  height: auto; 
}

.show-introduction {
  font-size: 2vh; /* 各投稿の間隔を調整 */
  overflow-y: auto; /* コンテンツが高さを超えた場合にスクロールバーを表示 */
  max-height: 10vh;
  white-space: pre-line; /* 改行を維持し、連続する空白文字を折り返す */
}














