
/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 10vh;
  background-color: #DBDBDB;
  margin-left: 0;
  margin-right: 0;
}



.navbar{
  padding: 0 1% 0 0;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo {
  font-size: 2.5vw;
  text-decoration: underline;
  padding-left: 2vw; 
  font-weight: bold; 
}

.nav-lists {
  font-size: 2vw;
  display: flex;
  list-style: none;
}

.nav-lists__list {
  margin-left: 2vw; 
  font-size:  1.5vw;
  font-weight: 600;
  line-height: 100px;  
}

.grid-6 {
  display: flex;
  align-items: center;
}

.post {
  margin-left: 2vw; 
}

/******************************************************** 
　トップページ のメイン
********************************************************/
.map {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: auto; 
}

.map-overlay {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-70%, -50%); 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.map-overlay h1 {
  margin-bottom: 20px;
}

.map-itiran {
  position: relative;
  width: 100%; 
  height: auto; 
}

.map-city {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: auto; 
  opacity: 0.5; 
}

.map-city-e {
  position: relative;
  display: inline-block;
  width: 80%; 
  height: 100000wh; 
  opacity: 0; /* 完全に透明にする 保留中、追加要素*/
}


.map img {
  width: 80vw;
  height: 80vh;
  max-height: 100%; 
}

.text {
  color: #ffffff;
  font-size: 2vw;
}

.text_hokkaido {
  position: absolute;
  top: 20%;  
  left: 67%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_tokyo {
  position: absolute;
  top: 63%;  
  left: 63%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_totigi {
  position: absolute;
  top: 55%;  
  left: 65%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_kyoto {
  position: absolute;
  top: 53%;  
  left: 45%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_oosaka {
  position: absolute;
  top: 58%;  
  left: 40%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_fukuyama {
  position: absolute;
  top: 58%; 
  left: 30%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_hirosima {
  position: absolute;
  top: 58%; 
  left: 25%; 
  color: #ffffff;
  font-size: 2vw;
}

.text_fukuoka {
  position: absolute;
  top: 72%;  
  left: 12%; 
  color: #ffffff;
  font-size: 2vw;
}


.text_test {
  position: absolute;
  top: 85%;  
  left: 60%; 
  color: #ffffff;
  background-color: rgb(149, 146, 146);
  font-size: 2.5vw;
}


.text_page {
  position: absolute;
  top: 25%;  
  left: 20%; 
  color: #ffffff;
  background-color: rgb(240, 237, 237);
  font-size: 3vw;
}

.text_word {
  position: absolute;
  top: 13%;  
  left: 20%; 
  color: #111111;
  background-color: rgb(240, 237, 237);
  font-size: 3vw;
}

.tutoriala {
  position: absolute;
  top: 40%;  
  left: 5%; 
  color: #111111;
  font-size: 2.5vw;
}

.tutoriala_text {
  background-color: rgb(240, 237, 237);
}

.tutoriala img {
  width: 40vw; 
  height: 52vh; 
}

.tutorialb {
  position: absolute;
  top: 110%;  
  left: 5%; 
  color: #111111;
  font-size: 2.5vw;
}

.tutorialab_text {
  background-color: rgb(240, 237, 237);
}

.tutorialb img {
  width: 40vw; 
  height: 52vh; 
}

.tutorialc {
  position: absolute;
  top: 180%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialac_text {
  background-color: rgb(240, 237, 237);
}

.tutorialc img {
  width: 40vw; 
  height: 52vh; 
}

.tutoriald {
  position: absolute;
  top: 250%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialad_text {
  background-color: rgb(240, 237, 237);
}

.tutoriald img {
  width: 40vw; 
  height: 52vh; 
}

.tutoriale {
  position: absolute;
  top: 320%;  
  left: 5%; 
  color: #111111;
  font-size: 3vw;
}

.tutorialae_text {
  background-color: rgb(240, 237, 237);
}

.tutoriale img {
  width: 40vw; 
  height: 52vh; 
}

.tutorialf {
  position: absolute;
  top: 385%;  
  left: 5%; 
  color: #111111;
  font-size: 1.5vw;
}

.tutorialaf_text {
  background-color: rgb(240, 237, 237);
}

/******************************************************** 
　フッター
********************************************************/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 5vh;

}


.copyright {
  font-size: 2vw;
  color: #444343;
}

/* 特定のページ専用のスタイルシート　操作説明ページのみフッターを無効化した */
.page-specific-styles .footer {
  display: none;
}


/******************************************************** 
　投稿
********************************************************/

.post-form {
  display: flex;
  flex-wrap: wrap; 
  width: 50vw; 
  margin: 0 auto; 
  height: 45vh; 
  overflow-y: auto; 
  max-height: 80%;
}

.post-form .title {
  font-size: 30px; 
}

.post-form .tweet {
  margin-bottom: 30px; 
}

.post-form .submit-button {
  position: absolute; 
  bottom: 30px; 
}

div.tweet .post-image {  
  width: 40vw; 
  height: auto; 
}

.tweets-container {
  display: flex;
}

.tweet {
  margin-bottom: 20px; 
}

.tweet h3 {
  margin-top: 10px; 
}

/******************************************************** 
　投稿画像のサイズ
********************************************************/
.post-image {
  max-width: 100%;
  height: auto; 
}

.form-item {
  width: calc(33.333% - 20px); 
  margin-bottom: 10px; 
  text-align: left; 
}

.form-item label {
  margin: 0; 
}

.posted-image-container {
  opacity: 1; 
}

.submit-button, .delete-button {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.form-container {
  display: inline-block; 
  text-align: left; 
}

/******************************************************** 
　SHOWページのデザイン
********************************************************/
.show-all {
  flex-wrap: wrap; 
  max-height: 80%;
  margin: 0 auto; 
  transform: translateX(10%); 
}

.show-title {
  font-size: 5vh; 
  font-weight: bold; 
}

.show-image {
  width: 30vw; 
  height: auto; 
}

.show-introduction {
  font-size: 2vh; 
  overflow-y: auto; 
  max-height: 10vh;
  white-space: pre-line; 
}

